@(title: String, activePage: ActivePage)(content: Html)

@import controllers.ActivePage

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href='@routes.Assets.at("css/ucmreport.css")'/>
    <link rel="stylesheet" href='@routes.Assets.at("css/jquery-ui.css")' type="text/css" media="screen"/>
    <script src='@routes.Assets.at("js/jquery.js")'></script>
    <script src='@routes.Assets.at("js/jquery-ui.min.js")'></script>

    <script src='@routes.Assets.at("/js/ucm-admin.js")'></script>


</head>
<body>

<div class="container">
    @content

    <br/>
    <footer>
        <p>UCM Import, build 1</p>
    </footer>

</div>

<script>
    $(function() {
        $("#tabs").tabs();
    });
</script>


</body>
</html>
