<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Data Import administration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href='@routes.Assets.at("css/ucmreport.css")'/>
    <link rel="stylesheet" href='@routes.Assets.at("css/jquery-ui.css")' type="text/css" media="screen"/>
    <script src='@routes.Assets.at("js/jquery.js")'></script>
    <script src='@routes.Assets.at("js/jquery-ui.min.js")'></script>

    <script src='@routes.Assets.at("/js/ucm-admin.js")'></script>


</head>
<body>



<div class="report_container">

    <div class="ui-widget ui-widget-content ui-corner-all" style="padding: 0.2em">

        <div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix title">
            <span>Report Criteria</span>
        </div>

        <div id="reportCriteria">

            <div style="width: 600px;float:left;">
                <div>
                    Date:
                </div>

                <fieldset>
                    <ul class="ui-widget ui-helper-clearfix">
                        <li><span id="dateStart"></span></li>
                        <li class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-calendar"/></li>
                        <li style="cursor:auto; margin: 2px 1em 2px 1em">to</li>
                        <li><span id="dateEnd"></span></li>
                        <li class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-calendar"/></li>
                    </ul>
                </fieldset>

                <div>Resolution:</div>

                <fieldset>
                    <select id="resolution">
                        <option>by hour</option>
                        <option>by day</option>
                        <option>by week</option>
                        <option>by month</option>
                    </select>
                </fieldset>                <br/>

                <div>Huntgroup:</div>
                <select id="huntGroupSelection"></select>
            </div>

            Report type: <select id="reportTypeSelection"></select>
        </div>

        <div style="clear: both;"></div>
    </div>
    <div class="vert_space">&nbsp;</div>


</div>

<div class="vert_space" style="clear:both;"></div>
<div class="vert_space"></div>
<div class="vert_space"></div>
