@main("Reporting", Reporting) {
<div style="margin-left: auto;margin-right:auto;width: 1200px;margin-top: 1.3em;">

    <div class="ui-widget ui-widget-content ui-corner-all" style="padding: 0.2em">

        <div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix"
             style="color:white;padding: 0.2em 0 0.2em 0.2em;">
            <span>Report Criteria</span>
        </div>

        <div id="reportCriteria">

            <div style="width: 600px;float:left;">
                <div>
                    Date:
                </div>

                <fieldset>
                    <ul class="ui-widget ui-helper-clearfix">
                        <li><span id="dateStart"></span></li>
                        <li class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-calendar"/></li>
                        <li style="cursor:auto; margin: 2px 1em 2px 1em">to</li>
                        <li><span id="dateEnd"></span></li>
                        <li class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-calendar"/></li>
                    </ul>
                </fieldset>

                <div>Resolution:</div>

                <fieldset>
                    <select id="resolution">
                        <option>by hour</option>
                        <option>by day</option>
                        <option>by week</option>
                        <option>by month</option>
                    </select>
                </fieldset>                <br/>

                <div>Huntgroup:</div>
                <select id="huntGroupSelection"></select>
            </div>

            Report type: <select id="reportTypeSelection"></select>
        </div>

        <div style="clear: both;"></div>
    </div>
    <div class="vert_space">&nbsp;</div>


</div>

<div class="vert_space" style="clear:both;"></div>
<div class="vert_space"></div>
<div class="vert_space"></div>
}